@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rimuovi le frecce da Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Rimuovi le frecce da Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
